.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

.channelItem {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.channelImage {
  width: 308px;
  height: 205px;
  margin-bottom: 5px;
}

.channelImageHeader {
  width: 177px;
  height: 14px;
}

.channelHeaderMain {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif

}